* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Index_Container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* All Container are set by Flex.. */

.Container {
    width: 100%;
    display: flex;
}

/* This style is allocate for Header Section.. */

#i-header {
    height: 500px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
}

.Header_Container {
    height: 95%;
    width: 85%;
    background-color: blue;
    box-shadow: 5px 5px 20px black;
    border-radius: 1.2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

#bg-img_container {
    height: 82.6%;
    width: 95%;
    background-color: chartreuse;
    border-radius: 1.2rem;
    margin: 0px auto auto;
}

#prof-img_container {
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    position: absolute;
    top: 59.5%;
    left: 4.85rem;
    overflow: hidden;
}

#prof-img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.2);
}

.Header-Id_Container {
    width: 70.97%;
    background-color: bisque;
    border-top: 3px solid grey;
    font-size: 3.4rem;
    padding: 5px 5px 5px 20px;
    position: absolute;
    top: 82%;
    left: 22.97%;
}

/* This style is allocate for Nav Section.. */

#i-nav {
    height: 100px;
    background-color: aquamarine;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
}

.Nav_Container {
    height: 75%;
    width: 85%;
    font-size: 1.5rem;
    background-color: cadetblue;
    box-shadow: 5px 5px 20px black;
    border-radius: 1.2rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Nav-Tool_Container {
    margin: 10px 15px;
    padding: 5px 10px;
}

/* This style is allocate for Main Section.. */

#i-main {
    height: 725px;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
}

.Main_Container {
    height: 700px;
    width: 85%;
    background-color: lightblue;
    box-shadow: 5px 5px 20px black;
    border-radius: 1.2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-Content_Container, .Section-Article_Container {
    width: 100%;
}

#heading-main_container {
    font-size: 2rem;
    padding: 15px 0 0 20px;
}

#i-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#i-article {
    height: 95%;
    width: 60%;
    background-color: beige;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 20px black;
    padding: 10px 20px 0;
    font-size: 1.3rem;
    text-align: justify;
}

#i-aside {
    height: 95%;
    width: 35%;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 20px black;
    background-color: darkgray;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#heading-aside_container {
    padding: 7px 5px 3px;
    border-bottom: 3px solid;
}

#content-aside_container {
    height: 87%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#content-aside_container img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 1.2rem;
}

/* This style is allocate for Footer Section.. */

#i-footer {
    height: 200px;
    width: 100%;
    background-color: cornsilk;
    align-items: center;
    justify-content: center;
}